---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request)
---
<Layout title="Astro" description="Astro description">
	{
		session ? (
			<img src={`${session.user?.image}`} alt="User profile image">
			<p>Hola, {session.user?.name}!</p>
			<p>Tu informaci贸n es:</p>
			<pre>{JSON.stringify(session, null, 2)}</pre>
		) : (
			<p>Por favor, inicia sesi贸n.</p>
		)
	}
	<button id="login">Iniciar Sesi贸n</button>
	<button id="logout">Cerrar Sesi贸n</button>
	<script>
		const {signIn, signOut} = await import("auth-astro/client");
		(document.querySelector("#login") as HTMLElement).onclick = () => signIn("google");
		(document.querySelector("#logout") as HTMLElement).onclick = () => signOut();
	</script>
</Layout>