<nav class="flex w-screen h-5 justify-between px-8">
    <h1>Equilibrium</h1>
    <ul class="flex gap-x-2">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>